<tr>
  <td>
    <p class="fw-normal mt-2">
      <%= order.user_name %>
    </p>
  </td>
  <td>
    <p class="fw-normal mt-2">
      <%= order.phone %>
    </p>
  </td>
  <td>
    <p class="fw-normal mt-2">
      <%= order.address_name %>
    </p>
  </td>
  <td>
    <p class="fw-normal mt-2">
      <%= order.total %>
    </p>
  </td>
  <td>
    <p class="fw-normal mt-2 font-weight-bold <%= display_color_status order.status %>">
      <%= order.status_i18n %>
    </p>
  </td>
  <% if can? :edit, Order %>
    <td class="text-center pt-3">
      <%= link_to edit_admin_order_path(order), "data-id": order.id, "data-status": order.status, remote: true, class: "btn btn-update-orders text-warning btn-sm btn-rounded" do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </td>
  <% end %>
</tr>
<div class="modal modal-<%= order.id %>">
  <div class="modal-content">
  </div>
</div>
