<%= provide :title, t(".title") %>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p><span class="primary-color"><strong></span></div>
      </p>
      <div class="col-sm-9">
        <select class="custom-select pull-right">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>
</div>
<section class="restaurants-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
        <div class="sidebar clearfix m-b-20">
          <div class="main-block">
            <div class="sidebar-title white-txt">
              <h6><%= t ".category" %></h6>
              <i class="fa fa-cutlery pull-right"></i> </div>
            <div class="input-group">
              <input type="text" class="form-control search-field" placeholder="Search your favorite food">
              <span class="input-group-btn">
                <button class="btn btn-secondary search-btn" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <form>
              <ul>
                <%= render "pages/category" %>
              </ul>
            </form>
            <div class="clearfix"></div>
          </div>
          <!-- end:Sidebar nav -->
        </div>
        <div class="widget clearfix">
          <div class="widget-heading">
            <h3 class="widget-title text-dark">
              <%= t "price_range" %>
            </h3>
            <div class="clearfix"></div>
          </div>
          <div class="widget-body">
            <div class="range-slider m-b-10">
              <span id="ex2CurrentSliderValLabel">
                <%= t "filter_range" %>:
                <span id="ex2SliderVal"><strong>35</strong>
                </span>€
              </span>
              <br>
              <input id="ex2" type="text" data-slider-min="1" data-slider-max="100"
               data-slider-step="1" data-slider-value="35" /> </div>
          </div>
        </div>
        <div class="widget clearfix">
          <div class="widget-heading">
            <h3 class="widget-title text-dark">
              <%= t ".size" %>
            </h3>
            <div class="clearfix"></div>
          </div>
          <div class="widget-body">
            <ul class="tags">
              <% @sizes.each do |size| %>
                <li>
                  <a href="#" class="tag">
                    <%= size.name %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
        <div class="row">
          <%= render :partial => "pages/product", :collection => @products %>
          <div class="col-xs-12">
            <%== pagy_nav(@pagy) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
