<%= provide :title, t(".title") %>
<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-tools">
          <%= link_to t(".new_category") , new_admin_category_path, remote: true, class: "btn-modal btn btn-primary" %>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th><%= t ".id" %></th>
              <th><%= t ".name" %></th>
              <th><%= t ".status" %></th>
            </tr>
          </thead>
          <tbody>
            <% if @categories.present? %>
              <%= render "category" %>
              <%== pagy_bootstrap_nav @pagy %>
            <% else %>
              <tr class="text-center">
                <td colspan="3">
                  <%= t "empty" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal">
  <div class="modal-content">
    <% provide :button_text, t("admin.categories.new.new_category") %>
    <%= render "form" %>
  </div>
</div>
