<div class="card card-danger">
  <div class="card-header">
  </div>
  <%= form_for [:admin, @product],  html: {multipart: true} do |f| %>
    <div class="text-red">
      <%= render "shared/error_messages", object: f.object %>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label t("admin.products.index.name") %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label t("admin.products.index.category") %>
          <%= f.select :category_id, Category.pluck(:name, :id), {}, {class: "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.fields_for :product_attributes do |product| %>
          <%= render "product_attribute_fields", :f => product %>
        <% end %>
        <%= link_to_add_association f, :product_attributes, class: "btn-add-attr" do %>
          <i class="fa-solid fa-plus btn btn-danger"></i>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label t("admin.products.index.descriptions") %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group mt-5">
        <%= f.fields_for :product_images do |p| %>
          <%= render "product_image_fields", :f => p %>
        <% end %>
        <%= link_to_add_association f, :product_images, class: "btn-add-image" do %>
          <i class="fa-solid fa-plus btn btn-danger"></i>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <%= f.submit yield(:button_text), class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
