<div class="card card-primary">
  <div class="card-header">
  </div>
  <input type="hidden" id="all_name" name="all_name" value="<%= Product.latest_product.pluck("name").to_json %>">
  <%= form_for [:admin, @product],  html: {multipart: true} do |f| %>
    <div class="text-red">
      <%= render "shared/error_messages", object: f.object %>
    </div>
    <div class="card-body font-weight-bold">
      <div class="mb-4">
        (<i class="text-danger fa fa-asterisk" aria-hidden="true"></i>):
        <%= t("validate.required") %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label t("admin.products.index.name") %>
          <i class="text-danger fa fa-asterisk" aria-hidden="true"></i>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label t("admin.products.index.category") %>
          <i class="text-danger fa fa-asterisk" aria-hidden="true"></i>
          <%= f.select :category_id, Category.pluck(:name, :id), {}, {class: "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.fields_for :product_attributes do |product| %>
          <%= render "product_attribute_fields", :f => product %>
        <% end %>
        <%= link_to_add_association f, :product_attributes, class: "btn-add-attr", title: t("admin.products.new.add_row") do %>
          <i class="fa-solid fa-plus btn btn-primary"></i>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label t("admin.products.index.descriptions") %>
        <i class="text-danger fa fa-asterisk" aria-hidden="true"></i>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group mt-5">
        <%= f.fields_for :product_images do |p| %>
          <%= render "product_image_fields", :f => p %>
        <% end %>
        <%= link_to_add_association f, :product_images, class: "btn-add-image", title: t("admin.products.new.add_image") do %>
          <i class="fa-solid fa-plus btn btn-primary"></i>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <%= f.submit yield(:button_text), class: "btn btn-add-product btn-primary" %>
    </div>
  <% end %>
</div>
