<tr>
  <td>
    <div class="d-flex align-items-center">
      <%= image_tag display_image(product), class: "product_image" %>
      <div class="ms-3">
        <p class="fw-bold mb-1">
          <%= product.name %>
        </p>
      </div>
    </div>
  </td>
  <td>
    <p class="fw-normal mt-2">
      <%= product.category_name %>
    </p>
  </td>
  <td>
    <p class="fw-normal mt-2">
      <%= product.sum_quantity %>
    </p>
  </td>
  <td class="text-center pt-3">
    <%= link_to admin_product_path(product), class: "btn text-primary btn-sm btn-rounded" do %>
      <i class="fa-solid fa-eye"></i>
    <% end %>
    <%= link_to edit_admin_product_path(product), class: "btn text-warning btn-sm btn-rounded" do %>
      <i class=" fas fa-edit" aria-hidden="true"></i>
    <% end %>
    <button type="button" data-name="<%= product.name %>" data-id="<%= product.id %>" class="btn-delete-product btn text-danger btn-sm btn-rounded">
      <i class="fa-solid fa-trash-can"></i>
    </button>
  </td>
</tr>
