<%= link_to t(".new"), new_admin_product_path, class: "btn btn-danger mb-3" %>
<table class="table align-middle mb-0 bg-white table-product">
  <thead class="bg-light">
    <tr>
      <th><%= t ".name" %></th>
      <th><%= t ".category" %></th>
      <th><%= t ".quantity" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @products.present? %>
      <%= render @products %>
      <%== pagy_bootstrap_nav @pagy %>
    <% else %>
      <tr>
        <td class="text-center" colspan="4">
          <%= t "empty" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
