<tr>
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= user.name %>
  </td>
  <td>
    <%= user.phone %>
  </td>
  <td>
    <%= user.addresses.default_types.first.name %>
  </td>
  <td>
    <%= user.status_i18n %>
  </td>
</tr>
