<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload", :defer => "defer" %>
    <%= javascript_include_tag "i18n" %>
    <%= javascript_include_tag "translations", skip_pipeline: true %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render "shared/header" %>
      <%= render "shared/nav" %>
      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            <%= yield(:title)%>
          </h1>
        </section>
        <section class="content container-fluid">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %> alert_mess">
              <%= message %>
            </div>
          <% end %>
          <%= yield %>
        </section>
      </div>
      <%= render "shared/footer" %>
    <div>
  </body>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
</html>
